$black: #363538;
$gray: #8D8C8A;
$light-gray: #F7FAFF;
$yellow: #FED772;
$blue: #4EAEFD;
$light-blue: #78C4FE;
$light-red: #FF5A5F;
$red: #FA2F30;
$dark-red: #F50400;
$orange: #FF9969;
$green: #23C3CD;
