
body{
  padding: 2rem 0rem;
}

/* div {
  transition: height .3s;
}

div:hover {
  height: 300px;
} */

.card-body {
// border: 1px solid red;
  max-height: 88px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.5s;
  h3 {
    text-overflow: ellipsis;
  }
}

.card-body:hover {
  max-height: 500px;

}

.card {
  max-height: 90%;
}
