<% chatroom_name = [connection.responder.id, connection.post.author.id].sort.join('-')
   chatroom = Chatroom.find_by_name(chatroom_name)
   chatrooms = []
   unless chatrooms.include?(chatroom)
   chatrooms << chatroom %>
    <div class="chat-popup" id="chat-<%= chatroom_name %>">
      <button id="closeButton" type="button" name="close" onclick="closeForm('<%= chatroom_name %>')" class="btn btn-danger">X</button>
      <%= render "chat", chatroom: chatroom, message: @message %>
    </div>
<% end %>
<script>
// Chatroom open/close
function openForm(chatroom) {
  document.getElementById(`chat-${chatroom}`).style.display = "block";
}

function closeForm(chatroom) {
  document.getElementById(`chat-${chatroom}`).style.display = "none";
}
</script>
