<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Dashboard</h1><br>
      <h3>My Posts</h3>
      <% @posts.each do |post| %>
        <ul class="list-inline">
          <li class="list-inline-item"><%= post.category[:name]%></li>
          <li class="list-inline-item"><%= post.post_type %></li>
          <li><strong>placeholder for distance</strong></li>
          <li><%= post[:location] %></li>
          <li><%= post.description %></li>
        </ul>
      <% end %>
  </div>
</div>



