<div class="cloud" style="opacity: 1;"></div>
<svg width="0" height="0">
<filter id="filter">
    <feTurbulence type="fractalNoise" baseFrequency="0.02" numOctaves="20"></feTurbulence>
    <feDisplacementMap in="SourceGraphic" scale="200"></feDisplacementMap>
  </filter>
</svg>
