<div class="banner landing">
  <div class="container">
    <div class="row d-flex align-items-stretch">
        <div class="col-12 col-sm-6 flex-grow-1 my-auto pb-5 text-center">
          connecting neighbours<br>
          in <span class="uln-yellow">need</span> to those
          who can offer <span class="uln-blue">support</span>.
        </div>
        <div class="col-12 col-sm-6 help-img"></div>
    </div>
  </div>
</div>
<div id="cloud" style="opacity: 1"></div>
<svg width="0" height="0">
<filter id="filter">
    <feTurbulence type="fractalNoise" baseFrequency="0.02" numOctaves="20"></feTurbulence>
    <feDisplacementMap in="SourceGraphic" scale="200"></feDisplacementMap>
  </filter>
</svg>


