<div class="banner landing">
  <div class="container">
    <div class="row d-flex align-items-stretch">
        <div class="col-12 col-sm-6 flex-grow-1 my-auto pb-5 text-center landing-msg" style="z-index:3;">
          connecting neighbours<br>
          in <span class="uln-yellow">need</span> to those
          who can offer <span class="uln-blue">support</span>.
        </div>
        <div class="col-12 col-sm-6 help-img"></div>
    </div>
  </div>
  <div id="cloud" style="height: 335px; background-position: center bottom;"></div>"></div>
</div>

