<div class="banner landing">
  <div class="container">
    <div class="row d-flex align-items-stretch">
        <div class="col-12 col-sm-5 flex-grow-1 pt-5 text-center">CommonsCloud connects those in need with neighbours who can offer support.
        </div>
        <div class="col-12 col-sm-7 pt-1 help-img"></div>
    </div>
  </div>
</div>
<div id="cloud"></div>
<svg width="0" height="0">
  <filter id="filter">
    <feTurbulence type="fractalNoise" baseFrequency=".01" numOctaves="10" />
    <feDisplacementMap in="SourceGraphic" scale="180" />
  </filter>
</svg>


