<div class="container mt-3">
  <h1>Posts#index</h1>

  <form method="get "action="/posts">
    <button type="submit" name="query" value="Request">Browse Requests</button>
    <button type="submit" name="query" value="Offer">Browse Offers</button>
  </form>

  <%= render "all", post: @post %>
</div>
