<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 card py-3">
      <% if @post_type == "Request" %>
        <%= render "new_request", post: @post %>
      <% else  %>
        <%= render "new_offer", post: @post %>
      <% end %>
    </div>
  </div>
</div>
