.landing {
  background: white;
  max-height: calc(65vh - 110px);
  font-size: calc(16px + 1vw);
  color: $black;
}
@media (max-width: 575px) {
  .landing {
    padding: 7vw 10vw;
    max-height: calc(70vh - 110px);
  }
}
.landing .container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0px 7vw;
}
.landing .help-img {
  z-index: 3;
  min-height: 300px;
  background-image: url('https://res.cloudinary.com/ryanbuckleyca/image/upload/v1598997371/helpBonX_copy_kfgkbc.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}

/* base css, each page adjusts the cloud with inline css accordingly */
#cloud {
  background-image: url(https://res.cloudinary.com/ryanbuckleyca/image/upload/v1599175891/cloud_img_full_yp9nhb.png);
  background-size: cover;
  z-index: 1;
  width: 100vw;
  position: relative;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.banner > #cloud {
  margin-left: 0vw;
  top: -150px;
}
@media (max-width: 575px) {
  .banner > #cloud {
    margin-left: -10vw;
    top: -250px;
  }
}
