.landing .container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0px 7vw;
}
.landing {
  background: white;
  height: calc(65vh - 110px);
  max-height: 350px;
  font-size: calc(16px + 1vw);
  color: $black;
}
.landing-msg {
  padding-bottom: 1em;
}
.landing .help-img {
  z-index: 3;
  min-height: 300px;
  background-image: url('https://res.cloudinary.com/ryanbuckleyca/image/upload/v1598997371/helpBonX_copy_kfgkbc.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
@media (max-width: 575px) {
  .landing {
    padding: 7vw 10vw;
    max-height: 375px;
  }
  .landing-msg {
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 90%;
  }
  .landing .help-img {
  min-height: 220px;
  }
}
