.landing {
  margin-bottom: -50px;
  background: white;
  max-height: calc(60vh - 110px);
  font-size: calc(16px + 1vw);
  color: $black;
}
@media (max-width: 575px) {
  .landing {
    padding: 7vw 10vw;
    max-height: calc(70vh - 110px);
  }
}
.landing .container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0px 7vw;
}
.landing .help-img {
  z-index: 3;
  min-height: 300px;
  background-image: url('https://res.cloudinary.com/ryanbuckleyca/image/upload/v1598735075/helpBonXwK_vaytxg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#cloud {
  z-index: 2;
  width: 100vw;
  height: 30px;
  position: relative;
  top: -40px;
  margin-bottom: 0;
  border-radius: 50%;
  -webkit-filter: url(#filter);
  filter: url(#filter);
  box-shadow: 0 135px 40px 85px #fff;
}
