.navbar {
  z-index: 2;
  justify-content: space-between;
  background: white;
}
.navbar-collapse {
  flex-grow: 0;
}
.navbar-brand {
  display: flex;
  align-items: center;
  img {
    height: 100px;
    position: relative;
    margin: 0 10px -40px 5px;
  }
  h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 165%;
  }
  p {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 66%;
    opacity: 0.55;
    margin: -5px 0;
    padding: 0;
  }
}
.nav-item.dropdown {
    margin-left: 5px;
}
