.map-icon {
  box-shadow: 0 3px 9px rgba(1, 1, 1, 0.13);
  border: 1px solid white;
  background-color: #fff;
  border-radius: 50%;
  padding: 13px;
}
.map-filters {
  button {
    width: 50%;
    margin: 0;
  }
}

.post-card {
  border-radius: 40px;
  margin-bottom: 15px !important;
  box-shadow: 0 3px 10px rgba(1, 1, 1, 0.04);
}

.card-type {
  text-align: center;
  margin-top: -10px;
  font-size: 110%;
}
.card-type > .badge.badge-pill {
  padding: 10px !important;
}
.card-head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 5%;
}
.card-head.request {
  flex-direction: row-reverse;
  justify-content: right;
}
.card-head.offer {
  justify-content: left;
}

// 40% of the card
.post-card.avatar {
  width: 40%;
  max-width: 100px;
  border-radius: 50%;
  margin: 0 !important;
}
// 60% of the card (general) | offer/reqs follow
.post-icon {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: static;
  height: 100%;
  .icon-img-text {
    font-size: 225%;
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-25deg);
  }
  .badge {
    bottom: -4%;
    align-self: center;
    position: relative;
    white-space: normal;
    font-size: 65%;
  }
}

.post-offer {
  background-image: url('https://res.cloudinary.com/ryanbuckleyca/image/upload/v1598648063/method-draw-image_oee9hz.svg');
  margin: -20% -15% -15% 0%;
  > .badge { right: 7%; }
  > .icon-img-text {
    right: 7%;
    bottom: -8%;
  }
  > .icon-img-text > .icon-text {
    margin-bottom: -10%;
    font-weight: 800;
  }
}
.post-request {
  background-image: url('https://res.cloudinary.com/ryanbuckleyca/image/upload/v1598648063/thought-cloud_meojlb.svg');
  margin: 0 0 0 -10%;
  > .badge {}
  > .icon-img-text {
    transform: rotate(14deg);
    position: relative;
    left: 13%;
    top: 16%;
  }
  > .icon-img-text > .icon-text {
    font-weight: 700;
    font-size: 80%;
  }
}


.card-footer {
  border-radius: 0 0 40px 40px !important;
}

.lg-card-head {
  display: flex;
  justify-content: stretch;
}
.lg-card-head.request { flex-direction: row-reverse; }
.lg-card-head.title {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lg-card-head.graphic {
}

